.white,
.purple,
.gold,
.red,
.bgColor,
.transparent{
    cursor: pointer;
    color: var(--color-indigo-200);
    border-radius: 80px;
    border: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-poppins);
    font-size: 2.8vh;
    height: 7vh;
    width: 25vh;
}

.white {
    background-color: var(--color-white);
}
.white:hover {
    background-color: #d0d0d0;
}
.bgColor {
    background-color: transparent;
    border: 3px solid var(--color-white);
    color: var(--color-white);
}
.bgColor:hover {
    background-color: rgba(255, 255, 255, 0.256);
}
.purple {
    background-color: #585cee;
    border: 3px solid var(--color-white);
    color: var(--color-white);
}
.purple:hover {
    background-color: #9496f1;
}
.gold {
    background-color: gold;
}
.gold:hover {
    background-color: goldenrod;
}
.red {
    background-color: rgb(243, 64, 64);
    border: 0.4vh solid var(--color-white);
    color: white;
    border-radius: 5px;
}
.red:hover {
    background-color: rgb(192, 48, 48);
}

.btnLandscape {
    margin: 10px 10px;
}
.btnPortrait {
    margin: 8px 9px;
    height:6.3vh;
    width: 24.8vh;
    font-size: 2.65vh;
}

.btnLong{
    width:31vh;
    height: 7.5vh;
}
.btnShort{
    font-size: 2.3vh;
    padding: 2vh 1.6vh;
    width: 20vh;
}