.white,
.purple,
.gold,
.red,
.transparent{
    cursor: pointer;
    color: var(--color-indigo-200);
    border-radius: 80px;
    border: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-poppins);
}

.white {
    background-color: var(--color-white);
}
.white:hover {
    background-color: #d0d0d0;
}
.purple {
    background-color: #585cee;
    border: 3px solid var(--color-white);
    color: var(--color-white);
}
.purple:hover {
    background-color: #9496f1;
}
.gold {
    background-color: gold;
}
.gold:hover {
    background-color: goldenrod;
}
.red {
    background-color: rgb(243, 64, 64);
}
.red:hover {
    background-color: rgb(192, 48, 48);
}
.transparent {
    background-color: transparent;
}
.transparent:hover {
    background-color: rgb(243, 64, 64);
}

.web{
    height: 70px;
    width: 110%;
    margin: 13px 10px;
    font-size: 29px;
}
.mobile {
    margin: 8px 9px;
    width: 100%;
    height: 53px;
    font-size: 20px;
}

.webShort,
.mobileShort{
    color: white;
    border-radius: 5px;
    padding:10px;
}

.webLong {
    margin: 60px 10px;
    width: 126%;
    height: 78px;
}
.webShort {
    margin: 8px 9px;
    height: 75px;
    width: fit-content;
    border: 6px solid;
    font-size: 29px;
}
.mobileLong {
    margin: 40px 10px;
    width: 120%;
    height: 60px;
}
.mobileShort {
    margin: 8px 9px;
    height: 45px;
    width: fit-content;
    border: 4px solid;
    font-size: 17px;
}

