.mainWrapper {
  display: flex;
  flex-wrap: wrap;
  min-width: 100vw;
  min-height: 100vh;
  background-color: aqua;
}
.option1,
.option2,
.option3,
.option4 {
  width: 50%;
  height: 50vh;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.4vh;
  font-family: var(--font-poppins);
  color: white;
}
.option1 {
  background-color: rgb(255, 28, 28);
}
.option1:hover {
  background-color: rgb(207, 24, 24);
}
.option2 {
  background-color: rgb(233, 189, 57);
}
.option2:hover {
  background-color: rgb(210, 162, 18);
}
.option3 {
  background-color: rgb(78, 159, 221);
}
.option3:hover {
  background-color: rgb(64, 130, 180);
}
.option4 {
  background-color: rgb(119, 201, 87);
}
.option4:hover {
  background-color: rgb(84, 174, 48);
}