.gamePin {
  position: absolute;
  margin-bottom: 0;
  top: 21vh;
  font-family: var(--font-poppins);
  font-size: 3vh;
  color: white
}
.mainWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  margin-top: 32vh;
  margin-bottom: 3.5vh;
}
.cardWrapper {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap:1.7vh;
  align-items: center;
  font-family: var(--font-poppins);
  font-size: 3.5vh;
}
.timerWrapper {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  gap:10px;
}
.timer {
  border: 0.5vh solid rgb(49, 49, 49);
  border-radius: 15px;
  padding: 0.5vh 2.5vh;
  cursor: pointer;
}