ul {
    position: absolute;
    top: calc(60%);
    left: 66px;
    width: calc(100% - 66px);
  }
  
  li {
    position: relative;
    display: inline-block;
      border-radius: var(--br-md);
      background-color: var(--color-gray-200);
      box-shadow: 2px 20px 50px rgba(71, 52, 175, 0.16);
      margin: 8px 8px;
      width: 20%;
      color: var(--color-indigo-200);
      font-weight: 600;
  } 
  
  h2 {
    display: inline-block; 
    font-weight: 600;
    font-size: var(--font-size-xs);
    margin: 15px 15px;
  }
  
  .btn {
    background-color:  rgb(211, 211, 211);
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 50%;
  
    width: 30px;
    height: 30px;
  }
  
  .btn:hover {
    color: red;
  }
  
  
  .flexContainer {
    /* We first create a flex layout context */
    display: flex;
    
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .flexItem {
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }