.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(88,92,238);
    background: linear-gradient(90deg, rgba(88,92,238,1) 5%, rgba(167,98,241,1) 93%);
    min-width: 100vw;
    min-height: 130vh;
  }
.koalingoLogo {
    position: absolute;
    top: calc(10%);
    width: 100vw;
    height: 18%;
    cursor: pointer;
  }
.mainWrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    top: calc(22%);
}
.mainWrapperChild {
    padding-top: 3vh;
    text-align: center;
    font-family: var(--font-poppins);
    font-size: 2.8vh;
    width: 100%;
}
.inputWrapper {
    padding: 0.7vh 1vh;
    width: 80%;
    font-family: var(--font-poppins);
    font-size: 2vh;
    border-radius: 10px;
    border: 0.35vh solid gray;
    margin: 2px;
}
.characterWrapper {
    padding-top: 2vh;
    padding-bottom: 4vh;
    text-align: center;
    font-family: var(--font-poppins);
    font-size: 2.8vh;
    display: flex;
    flex-direction: column;
}
.characterWrapperChild {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1.5vh;
    font-family: var(--font-poppins);
    font-size: 2.8vh;
    width: 100%;
    gap: 2vh;
}
.child {
    display: flex;
    width: 30vh;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.6vh solid rgb(52, 52, 52);
    border-radius: 40px;
    overflow: hidden;
}
.child:hover {
    background-color: gold;
}
.image {
    height: calc(100%);
}