@keyframes scale-down-center {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    to {
      -webkit-transform: scale(0.5);
      transform: scale(0.5);
    }
  }
  .rectangleDiv {
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, #7766f5, #495cea 97.04%, #6b5cf6);
    width: 1920dpx;
    height: 1080dpx;
  }
  .continueAsGuest,
  .continueAsGuest {
    background-color: transparent;
    bottom: 183px;
    left: 849px;
    font-size: var(--font-size-6xs);
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-indigo-200);
    text-align: center;
    display: inline-block;
  }
  .continueAsGuest:active {
    animation: 1s ease 0s infinite normal none scale-down-center;
    opacity: 1;
  }
  .rectangleButton,
  .rectangleButton1 {
    cursor: pointer;
    padding: 0;
    position: absolute;
    width: calc(100% - 5px);
    border-radius: var(--br-xs);
    height: 58px;
  }
  .rectangleButton {
    border: 0;
    background-color: var(--color-white);
    top: 0;
    right: 0;
    left: 5px;
  }
  .rectangleButton1 {
    border: 3px solid var(--color-white);
    background-color: transparent;
    right: 5px;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
  }
  .login1,
  .register {
    position: absolute;
    font-weight: 600;
    display: inline-block;
  }
  .login1 {
    top: 13px;
    left: calc(50% - 28.5px);
  }
  .register {
    bottom: 13px;
    left: calc(50% - 50.5px);
    color: var(--color-white);
  }
  .login {
    position: absolute;
    top: 585px;
    left: 829px;
    width: 267px;
    height: 152px;
  }
  .allergiesPlanDeTravail11 {
    position: absolute;
    top: 322px;
    left: 794px;
    width: 302px;
    height: 95px;
    object-fit: cover;
  }
  .login {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1080px;
    text-align: center;
    font-size: var(--font-size-7xs);
    color: var(--color-indigo-200);
    font-family: var(--font-poppins);
  }
  