.landscape,
.portrait {
    border-radius: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-size: 2.5vh;
    font-family: var(--font-poppins);
}

.landscape {
    width: 73vh;
    height: 34vh;
}
.portrait {
    margin-top: -2vh;
    width: 76vw;
    height: 32vh;
    border-radius: 50px;
}

.shaded {
    box-shadow: 1px 50px 100px rgba(36, 26, 91, 0.16);
}
.small {
    border-radius: 25px;
    width: 30vh;
    height: 20vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
.long {
    height: 43vh;
}
.heightFit {
    height: fit-content;
    justify-content: flex-start;
}