/* This page provides styling for list (<li>) objects*/
ul.player{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  border-radius: var(--br-md);
  font-size: 3.2vh;
  margin-right: 4vh;
  flex-wrap:wrap;
  gap:1vh;
}
li.playerTrack{
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 40px 80px rgba(33, 24, 83, 0.16);
  display: flex;
  padding: 1.5vh 5vh;
  width: fit-content;
  border-radius: var(--br-md);
  font-size: 3vh;
  margin: 0.2vh;
  border: 3px solid #8080801d;
}
li.player{
  background-color: rgb(255, 255, 255);
  display: flex;
  padding: 1.3vh 5vh;
  width: fit-content;
  border-radius: var(--br-md);
  font-size: 3vh;
  margin: 0.2vh;
}

.btn {
  background-color:  rgb(255, 255, 255);
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 50%;

  width: 30px;
  height: 30px;
}

.btn:hover {
  color: red;
}


.flexContainer {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
      and if we allow the items to wrap 
    * Remember this is the same as:
    * flex-direction: row;
    * flex-wrap: wrap;
    */
  flex-flow: row wrap;
  
  /* Then we define how is distributed the remaining space */
  justify-content: space-around;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.flexItem {
  background: tomato;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}