.selectPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: white;
  width: 100%;
  height: 100%;
}
.croppedEllipse {
  position: absolute;
  top: -18%;
  width: 100%;
  height: 65%;
  object-fit: cover;
}
.koalingoLogo {
  position: absolute;
  top: 1vh;
  height:15vh;
  cursor: pointer;
}
.nameSetWrapper,
.enterWordWrapper {
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0vh 2vh;
  font-family: var(--font-poppins);
  font-weight: 200;
}
.nameSetWrapper{
  gap:8vh;
  color: rgb(255, 255, 255);
  flex-direction: column;
  top: 16%;
  height: 40vh;
  width: 25vh;
  font-size: 2.8vh;
}
.setName {
  position: absolute;
  top:12%;
  border: 0;
  width: 120%;
  height: 5vh;
  border-radius: 80px;
  text-align: center;
  color:rgb(42, 42, 42);
  font-size: 2.5vh;
  font-family: var(--font-poppins);
}
.enterWordWrapper {
  border-radius: var(--br-md);
  background-color: white;
  color: rgb(44, 44, 44);
  flex-direction: row;
  gap:1.5vh;
  top: 50%;
  width:40vh;
  height: 8vh;
  box-shadow: 1px 20px 50px rgba(36, 26, 91, 0.16);
  border: 0.4vh solid rgba(52, 52, 52, 0.188);
  font-size: 2.4vh;
}
.buttonWrapper {
  margin-top: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
}
.wordsListWrapper {
  position: absolute;
  top: calc(60%);
  width: 90%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}