.mainWrapper {
  position: absolute;
  width: 100%;
  height: fit-content;
  top: calc(26%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.round {
  margin-top: -6vh;
  margin-bottom: 6vh;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: var(--font-poppins);
  font-size: 3vh;
}
.cardWrapper {
 position: absolute;
 top: calc(20%);
 display: flex;
 align-items: center;
 justify-content: center;
 height: 45vh;
 width: 45vh;
 border-radius: 1000px;
 background-color: white;
 overflow: hidden;
}
.action {
  height: 45vh;
}
.bottomWrapper {
  position: absolute;
  top: 50vh;
  font-family: var(--font-poppins);
  font-size: 2.8vh;
  width: fit-content;
  height: 4.2vh;
  background-color: gold;
  padding: 1vh 3vh;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.barWrapper {
  display: flex;
  width: 40vh;
  justify-content: center;
  align-items: center;
}
.devButton {
  position: absolute;
  bottom: 3vh;
}