.mainWrapper{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  height: fit-content;
  top: calc(26%);
  gap: 0.5vh;
}
.gamePin{
  font-family: var(--font-poppins);
  font-size: 3vh;
  color: white
}
.timerWrapper{
  font-size: 4vh;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  margin-top: -4%;
  margin-bottom: 1.3vh;
  width: 30vh;
  height: fit-content;
  border: 0.5vh solid white;
  border-radius: 1.4vh;
  padding: 0vh;
}
.bottomWrapper{
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  top: calc(51%);
  height: fit-content;
  width: 100%;
  bottom: 5vh;
  font-family: var(--font-poppins);
  font-size: 3.5vh;
}
.trackerWrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 80%;
  font-family: var(--font-poppins);
  font-size: 4.2vh;
}
.buttonWrapper{
  display: flex;
  flex-direction: row;
}