 ul.wordList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 0vh;
  }
  li.wordList {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--br-md);
    border: 0.3vh solid rgba(43, 43, 43, 0.167);
    background-color: white;
    box-shadow: 2px 20px 80px rgba(71, 52, 175, 0.16);
    width: fit-content;
    height: fit-content;
    color: black;
    font-family: var(--font-poppins);
    padding: 0vh 2vh;
    margin: 0.5vh 0.5vh;
  }
  ul.wordPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -6vh;
    font-size: 2.5vh;
    flex-wrap: wrap;
    height: 32vh;
    width: 90%;
    list-style-type: none;
    gap: 0vh;
  }
  li.wordPage {
    margin: 0.1vh 0vh;
  }
  
  h2 {
    display: inline-block; 
    font-weight: 600;
    font-size: var(--font-size-xs);
    margin: 15px 15px;
  }
  
  .btn {
    background-color:  rgb(211, 211, 211);
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 50%;
  
    width: 30px;
    height: 30px;
  }
  
  .btn:hover {
    color: red;
  }
  
  
  .flexContainer {
    /* We first create a flex layout context */
    display: flex;
    
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .flexItem {
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }