.mainWrapper {
  width:40vw;
  margin-top: 40vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.enter {
  text-align: center;
  font-family: var(--font-poppins);
  font-size: 2.4vh;
  font-weight: 100;
  color: rgb(147, 147, 147);
  padding: 0vw 3vw;
  width: 27vh;
  height:8vh;
  border: 0.4vh solid rgb(136, 136, 136);
  border-radius: 23px;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
}