.mainWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  margin-top: 30vh;
  margin-bottom: 3.5vh;
}
.enter {
  text-align: center;
  font-family: var(--font-poppins);
  font-size: 2.4vh;
  font-weight: 100;
  color: rgb(147, 147, 147);
  padding: 0vw 3vw;
  width: 28vh;
  height:7.5vh;
  border: 0.4vh solid rgb(136, 136, 136);
  border-radius: 23px;
  margin-top: 1.6vh;
  margin-bottom: 1.5vh;
}
.gamepinWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
}
.bottomWrapper{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap:0.4vh;
}