.loginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #7766f5, #495cea 97.04%, #6b5cf6);
  width: 100vw;
  height: 104vh;
}
.koalingoLogo {
  position: absolute;
  top: 20%;
  width: 90%;
  height: 25%
}
.buttonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  position: absolute;
  top: 45%;
  width: 25vh;
  height: 500px;
}
.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position:absolute;
  top:0;
  padding-top: 2vh;
  padding-left: 3vw;
  height: 100px;
  width: 100vw;
}