.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(88,92,238);
  background: linear-gradient(90deg, rgba(88,92,238,1) 5%, rgba(167,98,241,1) 93%);
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
.koalingoLogo {
  position: absolute;
  top: 16vh;
  width: 90%;
  height: 25%
}
.buttonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  position: absolute;
  top: 43%;
  width: 25vh;
  height: 500px;
}
.headerWrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position:absolute;
  top:0;
  padding-left: 5vw;
  padding-top: 1vh;
  height: 10vh;
  width: 100vw;
}